li{
	cursor:pointer;
}
#container-principal{
	padding-top:20px;
	min-width: 100%;
	min-height: 500px;
}

#container-filtros{

}
.filtros h3, .filtros ul li{
	cursor:pointer;
}

.filtro-seleccionado{
	background-color: gray;
}

#container-publicaciones{
}

#cantidad-x-paginas li{
	text-align:center;
}
