#container-principal{
	padding-top:20px;
	min-width: 100%;
	min-height: 500px;
	background-color: green;
}

#container-filtros{
	background-color: red
}
.filtros h3, .filtros ul li{
	cursor:pointer;
}

.filtro-seleccionado{
	background-color: gray;
}

#container-publicaciones{
	background-color: orange
}
